*{
    margin: 0;
    padding: 0;
}
.parent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    align-items: center;
    width: 1300px;
height: 100vh;
margin: auto;
margin-top: 35px;
background-image: url("../../images/Banner\ Image.png");
}
.title1{
    color: white;
    text-align: center;
    font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.title2{
    color: white;
text-align: center;
padding-top: 20px;
font-size: 100px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}

.section-2{
    margin-top: 50px;
     display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.img{
    height: 400px;
    width: 400px;
}
.red{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.lal{
    color: #F00;
    padding-top: 10px;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.kala{
    color: #070211;
    padding-top: 10px;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-3{
    background-image: url("../../images/Vectorrr.png");
    height: 600px;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: auto;
    gap: 20px;
    padding-top: 30px;
}
.bg img{
    width: 300px;
    height: 300px;
  
}
.txt1{
    color: #FFF;

font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 70px; /* 137.5% */
letter-spacing: 7.04px;
}
.txt2{
    color: rgba(255, 255, 255, 0.80);

font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.txt3{
    color: #FFF;

padding-top: 30px;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
.section-4{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
width: 1300px;
height: 400px;
margin: auto;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
}
.btn{
    padding: 10px 25px;
    align-items: center;
    margin-top: 30px;
    background-color: #F00;
    color: #FFF;
    border-radius: 20px;
    border: none;
}
span{
    color: #F00;
}
.h1{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.btn :hover{ scale: 50px; animation-duration:300px;}
.section-5{
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
   
}
.group{
    width: 130px;
    height: 130px;
}
.circle{
border: 10px solid red;
border-radius: 50%;
}
#year{
    color: #F00;

    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.offer{
    color: #F00;


font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.h-one{
    color: #F00;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.h-two{
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.h-three{
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.grid {
    --col: 9.5rem;
    --row: 8rem;
    --gap: 2rem;
  
    display: grid;
    grid-template-columns: repeat(3, var(--col));
    grid-template-rows: repeat(4, var(--row));
    grid-gap: var(--gap);
  }
  
  .grid--full {
    --col: 30%;
    --row: 4rem;
    --gap: 1rem;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .grid {
      transition: all 1s;
    }
  }